<div id="<%= "group_#{group}" %>" class="group <%= hidden ? 'hidden' : '' %>">
  <section class="<%= "background_#{type}" %>">
    <a id="<%= "close_#{group}" %>" href="#" class="close"><i class="fa fa-times"></i></a>
    <a href="#" class="sort">
      <i class="fa fa-sort-amount-asc"></i>
      <span>A-Z</span>
      <span class="sort_container">
        <i class="fa fa-sort-down"></i>
      </span>
    </a>
    <div>
      <h3><%= I18n.t("groups.#{group}") %></h3>
      <p><%= I18n.t("groups.#{group}_description") %></p>
    </div>
  </section>
  <% if group == :my_groups %>
      <section class="owned">
        <i class="fa fa-angle-down"></i>
        <h3>Owner</h3>
      </section>
      <ul>
        <% 2.times do |i| %>
            <%= partial(:group_section, locals: {group: group, type: type, action: :edit}) %>
        <% end %>
      </ul>
  <% end %>

  <% if group == :my_groups %>
      <section class="owned">
        <i class="fa fa-angle-down"></i>
        <h3>Administrator</h3>
      </section>
      <ul>
        <% 2.times do |i| %>
            <%= partial(:group_section, locals: {group: group, type: type, action: :edit}) %>
        <% end %>
      </ul>
  <% end %>

  <% if group == :my_groups %>
      <section class="owned">
        <i class="fa fa-angle-down"></i>
        <h3>Member</h3>
      </section>
      <ul>
        <% 2.times do |i| %>
            <%= partial(:group_section, locals: {group: group, type: type, action: :member}) %>
        <% end %>
      </ul>
  <% elsif group == :organisation_groups %>
      <ul>
        <% 5.times do |i| %>
            <%= partial(:group_section, locals: {group: group, type: type, action: :member}) %>
        <% end %>
      </ul>
  <% else %>
      <ul>
        <% 30.times do |i| %>
            <%= partial(:group_section, locals: {group: group, type: type, action: :join}) %>
        <% end %>
      </ul>
  <% end %>

</div>