<div id="<%= "group_#{group}" %>" class="group <%= hidden ? 'hidden' : '' %>">
  <section class="<%= "background_#{type}" %>">
    <a id="<%= "close_#{group}" %>" href="#" class="close"><i class="fa fa-times"></i></a>
    <div id="<%= "sort_menu_#{type}" %>" class="<%= "sort_#{type}" %>">
      <span><i class="fa fa-sort-amount-asc"></i></span>
      <span>A-Z</span>
      <span class="sort_container">
        <span ><i class="fa fa-sort-down"></i></span>
      </span>
    </div>
    <div id="<%= "sort_drop_down_#{type}" %>" class="<%= "hidden sort_drop_down_#{type}" %>">
      <ul>
        <li><label for="<%= "name_up_#{type}" %>">A - Z</label><input type="radio" id="<%= "name_up_#{type}" %>" name="<%= "sort_#{type}" %>" checked></li>
        <li><label for="<%= "name_down_#{type}" %>">Z - A</label><input type="radio" id="<%= "name_down_#{type}" %>" name="<%= "sort_#{type}" %>"></li>
        <li><label for="<%= "date_up_#{type}" %>">Jan - Dec</label><input type="radio" id="<%= "date_up_#{type}" %>" name="<%= "sort_#{type}" %>"></li>
        <li><label for="<%= "date_down_#{type}" %>">Dec - Jan</label><input type="radio" id="<%= "date_down_#{type}" %>" name="<%= "sort_#{type}" %>"></li>
      </ul>
    </div>
    <div>
      <h3><%= I18n.t("groups.#{group}") %></h3>
      <p><%= I18n.t("groups.#{group}_description") %></p>
    </div>
  </section>
  <% if group == :my_groups %>
      <section class="owned">
        <i class="fa fa-angle-down"></i>
        <h3>Owner</h3>
      </section>
      <ul>
        <% 2.times do |i| %>
            <%= partial(:group_section, locals: {group: group, type: type, action: :edit}) %>
        <% end %>
      </ul>
  <% end %>

  <% if group == :my_groups %>
      <section class="owned">
        <i class="fa fa-angle-down"></i>
        <h3>Administrator</h3>
      </section>
      <ul>
        <% 2.times do |i| %>
            <%= partial(:group_section, locals: {group: group, type: type, action: :edit}) %>
        <% end %>
      </ul>
  <% end %>

  <% if group == :my_groups %>
      <section class="owned">
        <i class="fa fa-angle-down"></i>
        <h3>Member</h3>
      </section>
      <ul>
        <% 2.times do |i| %>
            <%= partial(:group_section, locals: {group: group, type: type, action: :member}) %>
        <% end %>
      </ul>
  <% elsif group == :organisation_groups %>
      <ul>
        <% 2.times do |i| %>
            <%= partial(:group_section, locals: {group: group, type: type, action: :member}) %>
        <% end %>
        <% 2.times do |i| %>
            <%= partial(:group_section, locals: {group: group, type: type, action: :none}) %>
        <% end %>
      </ul>
  <% else %>
      <ul>
        <% 1.times do |i| %>
            <%= partial(:group_section, locals: {group: group, type: type, action: :none}) %>
        <% end %>
        <% 1.times do |i| %>
            <%= partial(:group_section, locals: {group: group, type: type, action: :member}) %>
        <% end %>
        <% 1.times do |i| %>
            <%= partial(:group_section, locals: {group: group, type: type, action: :none}) %>
        <% end %>
        <% 1.times do |i| %>
            <%= partial(:group_section, locals: {group: group, type: type, action: :member}) %>
        <% end %>
        <% 30.times do |i| %>
            <%= partial(:group_section, locals: {group: group, type: type, action: :join}) %>
        <% end %>
      </ul>
  <% end %>

</div>