<nav>
  <ul>
    <% {my_groups: :blue, organisation_groups: :green, all_groups: :purple}.each do |key, value| %>
        <% selectorId = "select_#{key}" %>
        <li>
          <input id="<%= selectorId %>" type="checkbox" checked/>
          <label class="<%= "background_#{value}" %>" for="<%= selectorId %>"><span><i class="fa fa-check"></i></span></label>
          <label class="white" for="<%= selectorId %>"><%= I18n.t("nav.#{key}") %></label>
        </li>
    <% end %>
  </ul>
  <%= partial(:search_container) %>
</nav>
