<nav>
  <ul>
    <% {my_groups: :blue, organisation_groups: :green, all_groups: :purple}.each do |key, value| %>
        <li>
          <input id="<%= key %>" type="checkbox" checked/>
          <label class="<%= "background_#{value}" %>" for="<%= key %>"><span><i class="fa fa-check"></i></span></label>
          <label class="white" for="<%= key %>"><%= I18n.t("nav.#{key}") %></label>
        </li>
    <% end %>
  </ul>
  <div class="search_container">
    <div class="input_container">
      <i class="fa fa-search"></i>
      <input placeholder="Search..." type="text"/>
    </div>
  </div>
</nav>
